<div style="background-color: lightgrey; margin:  0 auto; padding: 0">
  <h1 style="padding: 20px">Directives in Angular</h1>
</div>

<div style="margin:  0 auto; width: 80%;">
  <div style="border-bottom: 1px solid lightgrey;padding-bottom: 10px;">
    <ng-if-example></ng-if-example>
  </div>
  <div style="border-bottom: 1px solid lightgrey;">
    <ng-switch-example></ng-switch-example>
  </div>
  <div style="border-bottom: 1px solid lightgrey;">
    <ng-for-example></ng-for-example>
  </div>
  <div style="border-bottom: 1px solid lightgrey;">
    <custom-derivative-example></custom-derivative-example>
  </div>
</div>
