<h3>ngFor</h3>
<div style="width: 90%; margin: 0 auto; border-bottom: 1px solid lightgrey;">
    <p>We use it to loop over objects and display data
        similar to for each. We can keep track of the index and furthermore
        loop through each record and mased on condition choose to display it or not.
        Helpfull for conditinal rendering of data and their styles.
    </p>
    <div>
        <ul>
            <div *ngFor="let book of books" >
                {{ book.name }} : {{ book.author }} <span *ngIf="book.price > 25">Price > 25</span>
            </div>
        </ul>
        <button (click)="loadBooks()">Load More Books</button>
        <h6>This is a simulated Async function to illustrate the change detection</h6>
    </div>
</div>
